header {
  width: 100%;
  border-bottom: .2rem solid #161616;
  height: 6rem;
  position: fixed;
  top: 0;
  background: #ffffff;
  .header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
    color: #161616;
  }
}