#loadingBar .progress {
  position: absolute;
  top: 0;
  left: 0;
  //width: 100%;
  /* height: 100%; */
  width: 100px !important;
  height: 100px !important;
  background-color: black;
  overflow: hidden;
  transition: width 200ms;
  z-index: 999999999;
}

/****************
  썸네일
****************/

#thumbnailView {
  .thumbnail {
    margin: .1rem 0 1rem .1rem;
    position: relative;

    .thumbnailSelectionRing {
      width: 100% !important;
      overflow: hidden;
      background: #efebef;

      .thumbnailImage {
        width: 100% !important;
        height: 100% !important;
        border: .1rem solid rgba(0, 0, 0, 0);
        opacity: 0.4;
        z-index: 99;
        background-color: transparent;
      }
      :hover {
        background: #c7c7c7;
      }
    }
  }
  a:last-of-type > .thumbnail {
    margin-bottom: 1rem;
  }

  .thumbnail.selected > .thumbnailSelectionRing > .thumbnailImage {
    opacity: 1;
  }
}

/****************
  캔버스
****************/

.page {
  margin: 0 auto 2rem auto;
  position: relative;

  canvas {
    /* width: 100% !important; */
    /* height: auto !important; */
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.05);
  }

  .textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.1;
    line-height: 1.0;

    > span {
      color: transparent;
      position: absolute;
      white-space: pre;
      cursor: text;
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
    }
  }

  .pdfAnnotationLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    z-index: 2;
    transform-origin: left top;
  }
}

/****************
  test
****************/

.loadingIcon {
  width: 100%;
  height: 100%;
  background: white;
  background: url("../../../../assets/images/loading-icon.gif") center no-repeat;
  box-shadow: 0 0 .5rem 0 rgba(0,0,0,0.1);
}
