/************
   좌측 메뉴
*************/

.navbar-gnb {
  width: 1%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.gnb-wrap {
  height: 100%;
  display: flex;
}

.gnb-wrap ul {
  width: 100%;
  height: 100%;
  line-height: 100%;
}

.gnb-wrap ul li {
  text-align: left;
  cursor: pointer;
  padding: .7rem 2.5rem;
  color: #666;
  font-size: 1.6em;
  font-weight: 700;
  white-space: nowrap;
}

.gnb-wrap li:hover {
  color: #333;
  position: relative;
  z-index: 9;
}

.gnb-wrap li:hover a {
  color: #333333;
}

.gnb-wrap .nav-snb {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 6.5rem;
  left: 0;
  z-index: 9;
  padding: 4rem 0 0 18.5rem;
  display: none;
}

.navbar-nav li a {
  &.active,
  &:hover {
    color: #57bfcf !important;
  }
}

/************
   우측메뉴
*************/

.navbar-collapse {
  margin-left: 2rem;
  padding-right: 2rem;
  height: 100%;
}

.navbar-nav {
  width: 100%;
  height: 100%;
  display: table;
  .nav-snb {
    li {
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      a {
        font-weight: 500;
        padding: 1rem 1.4rem;
        font-size: 1.5rem;
      }
      a.logout {
        border: .1rem solid #ccc;
        border-radius: .3rem;
        padding: .5rem 1.5rem;
      }
    }
  }
  li {
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    // min-width: 6rem;
    height: 100%;
    text-align: center;
    position: relative;
    .user {
      padding: 0 1.5rem;
      ul {
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3rem;

          .sub-menu {
            position: absolute;
            top: 3.5rem;
            right: 0;
            width: 100%;
            display: none;
            padding-top: 1rem;
            ul {
              display: flex;
              flex-direction: column;
              background: #ffffff;
              border-radius: .5rem;
              border: .1rem solid #efebef;
              li {
                cursor: pointer;
                white-space: nowrap;
                border-bottom: .1rem solid #efebef;
                font-size: 1.3rem;
                &:last-child {
                  border-bottom: 0;
                }
                a {
                  font-size: 1.3rem;
                  font-weight: 500;
                  padding: .6rem 1.2rem !important;
                  color: #333333;
                }
              }
            }
          }
        }
      }
      .avatar span {
        width: 4rem;
        height: 4rem;
        /* background: #f5f5f5 url("../../images/char.jpg"); */
        background-size: cover;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
      }
      .name {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 500;
        min-width: 3rem;
        max-width: 10rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        padding: .5rem 0 .5rem 1rem;
        height: 100%;

      }
      .name:hover ~ .sub-menu,
      .sub-menu:hover {
        display: block;
      }
    }
  }
}

/************
  모바일 메뉴
*************/

.btn-gnb {
  /* background: url('../../images/icon-gnb-mobile-black.png'); */
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center center;
  text-indent: -999999999999rem;
  width: 100%;
  height: 4rem;
  padding: 1.2rem 0 1.2rem 2rem;
}

.navbar-collapse.mobile {
  padding-right: 1rem;
  display: none;

  input[type=checkbox] {
    display: none;
  }

  #gnb-mobile:checked ~ .sub-menu {
    display: block;
  }

  .navbar-nav {
    position: relative;

    .sub-gnb-mobile {
      ul {
        li {
          display: flex;
          align-items: center;

          &.service-move {
            border-top: .1rem solid #999999;
            border-bottom: .1rem solid #999999 !important;
            a {
              font-size: 1.6rem;
            }
          }

          .sub-menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            padding-top: 0rem;
            background: rgba(0, 0, 0, .4);
            text-align: left;
            display: none;

            label.close {
              position: fixed;
              display: block;
              width: 100%;
              height: 100%;
            }

            .sub-menu-inner {
              background: #ffffff;
              border-top-right-radius: 1rem;
              border-bottom-right-radius: 1rem;
              width: 30rem;
              height: 100%;
              position: relative;

              button.menu-logo {
                background: url("../../images/kt-logo.png");
                background-size: 13rem;
                background-repeat: no-repeat;
                background-position: center center;
                padding: 0 8.7rem;
                text-indent: -9999rem;
                white-space: nowrap;
                height: 6.5rem;
              }
              ul {
                border-radius: 0 !important;
                border: 0;
                li {
                  width: 100%;
                  border-bottom: 0;
                  text-align: left !important;
                  a {
                    display: block;
                    width: 100%;
                    font-weight: 600;
                    margin-left: 1.1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-gnb .gnb-wrap,
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.mobile  {
    display: block;
  }
}
