.input-file {
  opacity: 0;
  background: black;
  width: 100%;
}

.upload-hidden {
  display: none;
}

.input-file ~ span.text label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border: .1rem solid #dfe0e2;
  padding: 1rem 1.6rem;
  border-radius: .4rem;
  font-size: 1.4rem !important;
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.6rem;
    content: "찾아보기";
    background-color: #ffffff;
    border-left: .1rem solid #efebef;
    font-size: 1.4rem;
  }
}
