.pagination {
  width: 100%;
  padding: 5rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 .2rem;
      counter-increment: pagination;
    }
    li:hover a {
      color: #fdfdfd;
      background-color: #1d1f20;
      border: solid 1px #1d1f20;
    }
    li.active a {
      color: #fdfdfd;
      background-color: #1d1f20;
      border: solid 1px #1d1f20;
    }
    /*
    li:first-child a:after {
      content: "이전";
    }
    li:nth-child(2) {
      counter-reset: pagination;
    }
    li:last-child a:after {
      content: "다음";
    }
    */
    li a {
      border: solid 1px #efebef;
      border-radius: 0.2rem;
      color: #7d7d7d;
      display: inline-block;
      text-align: center;
      padding: 0.5rem 0.9rem;
      white-space: nowrap;
    }
    /*
    li a:after {
      content: " " counter(pagination) " ";
    }
    */
  }
}
