.select-box {
  position: relative;
  min-width: 11rem;
  max-width: 20rem;
  display: inline-block;
  background: #ffffff;
  border-radius: .4rem;
  border: .1rem solid #e6e4e4;
  color: #555555;

  span.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: .8rem auto;
    position: absolute;
    top: 40%;
    right: 5%;
    z-index: 0;
    opacity: .6;
  }

  input {
    display: none;
  }

  label {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 1rem 5rem 1rem 1rem;
    display: block;
    position: relative;
    z-index: 1;
    white-space: nowrap;
  }

  input ~ ul {
    //transition: max-height 0.3s;
    position: absolute;
    display: none;
    z-index: 9;
  }

  input:checked ~ ul {
    display: block;
    width: calc(100% + .2rem);
    margin-left: -.1rem;
    label {
      white-space: nowrap;
      padding: .2rem 1rem .2rem .5rem;
    }
  }

  input:checked ~ span.icon {
    transform: rotate(180deg);
    right: 5%;
  }

  // TODO: react 셀렉트 박스 개발중
  &.develop {
    span.icon.toggle {
      transform: rotate(180deg);
      right: 5%;
    }
    ul {
    position: absolute !important;
    width: calc(100% + .2rem);
    margin-left: -.1rem;
    display: block !important;
    max-height: 20rem;
    overflow-y: scroll;
      label {
        white-space: nowrap;
        padding: .2rem 1rem .2rem .5rem;
      }
    }
  }
  // TODO: react 셀렉트 박스 개발중

  ul {
    border: .1rem solid #e6e4e4;
    background: #ffffff;
    overflow: hidden;
    margin-top: .3rem;
    border-radius: .4rem;
    height: auto;
    
    z-index: 9;
    li {
      padding: .5rem;
    }

    li.active,
    li:hover {
      background: #efebef;
      color: #555555;
    }
  }
  &.sm {
    label {
      padding: .5rem 5rem .5rem 1rem;
    }
    span.icon {
      top: 35%;
      background-size: .8rem auto !important;
    }
  }
  &.md {
    label{
      padding: .8rem 5rem .8rem .8rem;
    }
    span.icon {
      background-size: 1rem auto;
    }
  }
  &.disabled {
    background: #f9f9f9;
    cursor: not-wllowed;
  }
  &.disabled:active {
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  .select-box {
    width: 100% !important;
  	max-width: 100% !important;
  }

  span.icon {
    right: 1rem !important;
  }
}
