/*********************
       가입동의
*********************/

.member-agree {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
  dt {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem 0;
  }
  dd {
    margin-bottom: 1rem;
  }
  h5 {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 3rem 0;
    text-align: center;
  }
  h6 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1.2rem 0;
  }
}

/*********************
 개인정보처리 방침 & 약관
*********************/

.policy-terms {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
  h5 {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 3rem 0;
    margin-top: 3rem;
    text-align: center;
  }
  h6 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1.2rem 0;
  }
  h5:first-child {
    margin-top: 0;
  }
  .sub-title {
    font-size: 1.5rem;
    font-weight: 400;
    padding: .8rem 0;
  }
  .text-unit {
    float: right;
    font-size: 1.2rem;
    color: #888888;
    display: inline-block;
  }
  ul {
    li {
      line-height: 1.5;
    }
  }
}

/**************************
 개인정보처리 방침 & 약관 테이블
**************************/

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  th {
    border: 0.0625rem solid #d5d5d5;
    background: #f5f5f5;
    padding: 0.3125rem;
    vertical-align: middle;
    text-align: center;
    font-size: 1.35rem;
    white-space: nowrap;
  }
  td {
    border: 0.0625rem solid #d5d5d5;
    padding: 0.3125rem;
    vertical-align: middle;
    font-size: 1.35rem;
  }
  &.center {
    text-align: center;
  }
}
