[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 12px;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: .5rem solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  width: max-content;
  min-width: 3em;
  max-width: 21em;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .5rem 1rem;
  border-radius: .3ch;
  background: #333;
  color: #fff;
  z-index: 1000;
  border-radius: .5rem;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
  bottom: calc(100% + .5rem);
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 1rem);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
  top: calc(100% + .5rem);
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 1rem);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 1.5rem);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 1.5rem);
  transform: translate(-.5em, -50%);
}

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 1rem);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 1rem);
  transform: translate(.5em, -50%);
}

@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/**************
   화면 최상단
**************/

[tooltip][ext^="force"] {
  position: fixed !important;
  margin-left: .2rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url("../../images/icon-info.png");
  background-size: 1.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(20%, .5rem);
}

/**************
    컨디셔널
**************/

[tooltip][flag^="show"]::before,
[tooltip][flag^="show"]::after {
  opacity: 1;
  display: block !important;
}

[tooltip][flag^="hidden"]::before,
[tooltip][flag^="hidden"]::after {
  display: none !important;
}

[tooltip][flow^="left"][flag^="show"]::before,
[tooltip][flow^="left"][flag^="show"]::after,
[tooltip][flow^="right"][flag^="show"]::before,
[tooltip][flow^="right"][flag^="show"]::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

[tooltip][flow^="up"][flag^="show"]::before,
[tooltip][flow^="up"][flag^="show"]::after,
[tooltip][flow^="down"][flag^="show"]::before,
[tooltip][flow^="down"][flag^="show"]::after {
  animation: tooltips-vert 300ms ease-out forwards;
}
