/*******************
   캔버스 베이스 설정
   공통으로 들어오는부분
   unset 중요
*******************/

.composer-wrap {
  position: relative;

  .composer-inner {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 17rem;

    .add-player {
      padding: 2rem;
      border-bottom: .1rem solid #f6f6f9;

      button {
        background: #4c4e5a;
        border: .1rem solid #4c4e5a;
        border-radius: .5rem;
      }
    }

    .option-wrap {
      padding: 1rem 2rem 1rem 2rem;
      border-top: .1rem solid #f6f6f9;
      border-bottom: .1rem solid #f6f6f9;
    }

    .option-title {
      padding: 1rem 2rem 1rem 2rem;
      font-size: 1.4rem;
    }

    .user-wrap {
      height: 100%;
      overflow: auto;
      padding-bottom: 3rem;

      .owner {
        background: #ffffff;
      }

      .player-wrap {

        .player {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          color: #333333;
          padding: 1rem 2rem 1rem 2rem;
          font-size: 1.4rem;

          li {
            display: flex;
            align-items: center;
            padding: 0 0 0 0;

            span.color-dot {
              display: inline-block;
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 50%;
              margin-right: .5rem;
            }
          }

          span.player-detail {
            display: block;
            font-size: 1.2rem;
          }
        }

        .insert-component {
          padding: 0 2rem 1rem 2rem;

          .inner {
            background: #f4f4f8;
            padding: 0 1rem;
            border-radius: .4rem;

            button {
              background: #f4f4f8;
              border: .1rem solid #f4f4f8;
              color: #aeaeb0;
              border-radius: 0;
              border-bottom: .1rem solid #ebebeb;
              font-size: 1.3rem;
              padding: .8rem .8rem;

              [class*='insert-'] {
                display: flex;
                justify-content: space-between;
                padding: 0 0;

              }
              &:last-child {
                border-bottom: 0;
              }
            }
          }
        }
      }

      .section {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        cursor: pointer;
        border-top: .1rem solid #f6f6f9;
        padding: .5rem 2rem .5rem 2rem;
        position: relative;
        overflow: hidden;

        button {
          margin-left: auto;
        }

        .icon-close {
          background: transparent;
          font-size: 1.3rem;
          font-weight: 700;
          color: #333333;
          opacity: .3;
          cursor: pointer;
        }

        .icon-add {
          background: transparent;
          font-size: 1.3rem;
          font-weight: 700;
          color: #333333;
          opacity: .3;
          cursor: pointer;
          transform: rotate(45deg) !important;
        }
      }
    }
  }

  .complete-wrap {
    width: 100%;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    padding: 2rem 2rem 2rem 2rem;
    border-top: .1rem solid #f6f6f9
  }

  /*******************
    개인/법인 라디오 버튼
  *******************/

  input[type=radio][class='group'] {
    display: none;
  }

  input[type=radio][class='group'] ~ .radio-group {
    display: flex;
    border-radius: .4rem;
    overflow: hidden;
    background: #efefef;
    padding: .2rem;
    width: 100%;
    text-align: center;

    label {
      flex: 1 1 100%;
      color: #8e8e8e !important;
      display: inline-block;
      cursor: pointer;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 1rem 2rem;
      border-radius: .3rem;
      color: #333333 !important;
      background: #efefef;
    }
  }

  #type-0:checked ~ .radio-group label.type-0 {
    background: #ffffff !important;
  }

  #type-1:checked ~ .radio-group label.type-1 {
    background: #ffffff !important;
  }

  #type-1:checked ~ .required ~ .input-control {
    display: block;
  }
}

/*******************
   드래그 컴포넌트
*******************/

.drag-component {
  .delete-wrap {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s,
    opacity 0.5s linear;
    position: absolute;
    top: -.1rem;
    right: -3rem;
    padding-left: 1rem;
    margin-right: -1rem;

    button.input-delete {
      width: 3rem;
      height: 3rem;
      background: #4c4e5a;
      color: #ffffff;
      border-radius: .4rem;
      border: .1rem solid #4c4e5a;
    }
  }
  .target-wrap {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;

    span {
      word-break: keep-all;
      color: #333333;
    }

    span.name {
      width: 100%;
      display: flex;
      align-items: center;
    }

    span.color-dot{
      display: flex;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      margin-right: .5rem;
    }
  }
}

/*******************
   텍스트 박스
*******************/

.input-text-drag {
  width: 100%;
  height: 100%;
  min-height: 3rem;
  z-index: 999;
  border: .5rem dashed #bdbdbd !important;
  border-radius: .5rem;
  padding: 0;
  position: relative;

  .input-drag {
    cursor: pointer;
    background: rgba(249, 255, 214, 1);
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .delete-wrap {
    top: -.7rem;
    right: -3.5rem;
  }

  &:hover .delete-wrap,
  &:hover .target-wrap {
    visibility: visible;
    opacity: 1;
  }

  .target-wrap {
    top: -2.5rem;
    left: 0;
    padding-left: 0;
    margin-left: -.5rem;
  }
}

.input-text-normal {
  // border: .1rem solid #bdbdbd !important;
  // border-radius: 0rem;
}

/*******************
   체크박스 레이어
*******************/

.input-checkbox-drag {
  display: flex;
  justify-content: center;
  z-index: 9;

  .check {
    cursor: pointer;
    position: relative;
    display: block;

    label {
      margin: unset;
      position: relative !important;
      padding: unset !important;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        position: unset;
      }
    }
  }

  &:hover .delete-wrap,
  &:hover .target-wrap {
    visibility: visible;
    opacity: 1;
  }

  .target-wrap {
    top: -2rem;
    left: 0;
    padding-left: 0;
    margin-left: 0;

    span.color-dot{
      margin-left: .3rem;
    }
  }
}

/*******************
   서명 레이어
*******************/

.input-sign-drag {
  width: 100%;
  height: 100%;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 1);
    border-radius: 1rem;
    padding: 1rem 2rem;
    white-space: nowrap;
    font-size: 1.5rem;
  }

  &:hover .delete-wrap,
  &:hover .target-wrap {
    visibility: visible;
    opacity: 1;
  }

  .target-wrap {
    top: -2rem;
    left: 0;
    padding-left: 0;
    margin-left: 0;
  }
}

/*******************
   서명패드 레이어
*******************/

.input-sign-pad-drag {
  width: 100%;
  height: 100%;
  min-height: 3rem;
  z-index: 999;
  border: .5rem dashed #bdbdbd !important;
  border-radius: .5rem;
  padding: 0;
  position: relative;

  .input-drag {
    cursor: pointer;
    background: rgba(226, 226, 226, 1);
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    span {
      width: 100%;
      color: #999999;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      overflow: hidden;
      font-size: 1.7rem;
    }
  }

  .delete-wrap {
    top: -.7rem;
    right: -3.5rem;
  }

  &:hover .delete-wrap,
  &:hover .target-wrap {
    visibility: visible;
    opacity: 1;
  }

  .target-wrap {
    top: -2.5rem;
    left: 0;
    padding-left: 0;
    margin-left: -.5rem;
  }
}

.input-sign-pad-normal {
  // border: .1rem solid #bdbdbd !important;
  // border-radius: 0rem;
}
