.react-draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .1rem;
  z-index: 2;
  // transform-origin: left top;

  &:hover {
    position: relative;
    z-index: 999;
  }

  .handle {
    cursor: pointer
  }
}

.react-draggable-dragging {
  .drag-layer {
    opacity: .5;
  }
}

.drag-component-hidden {
  display: none;
}

.drag-component.animation-focus {
  animation-duration: 1s;
  animation-name: shake
}
